@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>BDAT 1001 Information Encoding Standards - Final Projact</p>
    <p>Team - 06</p>
</div>
